<div class="sidebar">
    <h1 class="logotype">
        the<br>
        tingbot<br>
        ocean<br>
    </h1>

    <div class="hidden-xs">
        <div style="height: 20px"></div>
    </div>

    <p class="sidebar-text">
        An open source app store for <a href="http://tingbot.com">Tingbot</a>.
    </p>

    <p class="sidebar-text">
        Run these apps using <a href="https://github.com/tingbot/tide/releases/">Tide</a>.
    </p>

    <p class="sidebar-text">
        Want to add your app to this page? Send us a <a href="http://docs.tingbot.com/guides/publish-to-ocean/">pull request</a>!
    </p>
</div>
